
/* header start */
#header_body{
    height: 65vh;
    width: 100vw;
    background-size: cover;
    background-image: url(images/header-back.webp);
    background-position: center;
    background-repeat: no-repeat;
   background-attachment: fixed;
   color: white;
   /* opacity: 0.9; */
}

.horizontal-list{
    display: flex;
    justify-content: center;
}
.horizontal-list li{
    list-style: none;
   
}
.horizontal-list li a{
    margin: 1rem;
    color:rgb(247, 199, 199);
    text-decoration: none;
    font-size: 2rem;
}
.horizontal-list li a:hover{
border-bottom: 1px solid white;
}
header h1{
    font-size: 6rem;
    margin: 140px;
   text-align: center;
}
#f{
    margin-top: -50px;
}
#social-icons li a{
    margin-top: -5vh;
    height: 10px;
    width: 10px;
    color:white;

}
#social-icons li a:hover{
color: blue;
}

/* header end */


/* about section start */
#about{
    height: auto;
    width: 100%;
}
#logo{    
    display: flex;
    justify-content: center;
    margin-top: -7vh;
    
}
#logo img{
    height: 12rem;
    width: 12rem;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0px 0px 6px 4px black;
}
/* about section end */

/* Skill section start */
* {box-sizing: border-box}

.container {
  width: 100%;
  background-color: #ddd;
  border-radius:31px;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.html {width: 90%; background-color: #4CAF50; border-radius: 31px 0px 0px 31px;}
.css {width: 80%; background-color: #2196F3;border-radius: 31px 0px 0px 31px;}
.js {width: 65%; background-color: #f44336;border-radius: 31px 0px 0px 31px;}
.php {width: 60%; background-color: #808080;border-radius: 31px 0px 0px 31px;}
/* Skill section end */

/* Experience section start */

/* Experience section end */

/* Education section start */

/* Education section end */

/* portfolio section start */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  
  .grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .grid-container img{
      width: 200px;
      height: 200px;
  }
/* portfolio section end */

/* contact section start */
#contact{
    display: flex;
    flex-direction: column;
}
#cont{
    display: flex;
}
#cont div{
    width: 50%;
}
#form-cont form{
    display: flex;
    flex-direction: column;
    margin: 0% 20% 0% 20%;
    padding: 2rem;
    
}
#form-cont form input{
    margin: 5px;
    padding: 5px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid black;
    color: white;
}
#form-cont form textarea{
    margin: 5px;
    padding: 5px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid black;
}
#form-cont form textarea::placeholder{
    font-size: 2rem;
}

::placeholder{
    color: black;
    font-size: 1rem;
    font-weight: bolder;
}
button{
    margin: auto;
    border: 2px solid grey;
    width: 50%;
    box-shadow: 0px 0px 6px 4px black;
}
/* contact section end */
